body, h2 {
    margin: 0;
}
p, a, span, h2, h3 {
    font-family: 'Red Hat Display', sans-serif;
}
body {
    background-image: url('/images/FONDO.png');
}

/*Header*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.5s ease;
    height: 65px;
}
.sticky-gray {
    background: #272626;
    border-bottom: 5px solid #c51e35;
}
header img {
    width: 160px;
}
.header-main-container {
    padding: 1px 42px;
}
.a-header {
    display: inline-block;
    margin-top: 13px;
}
.logo-desktop {
    font-size: 2.5rem;
    color: #ffff;
    text-shadow: 1px 1px 1px #000;
    font-weight: 700;
    margin: 0;
}
.logo-mobile {
    font-size: 2.5rem;
    color: #000;
    text-shadow: 1px 1px 1px #fff;
    font-weight: 700;
    margin: 0;
}
.hidden {
    display: none;
}
.right {
    margin-top: 13px;
    float: right !important;
}
header span {
    font-size: 0;
}
span a.btn-fb {
    background-position: 0 0;
    background-repeat: no-repeat;
}
span a.btn-twt {
    background-position: 0 -43px;
    background-repeat: no-repeat;
}
span a.btn-wsp {
    background-position: 0 -86px;
    background-repeat: no-repeat;
}
.right span a {
    background-image: url(https://s3.amazonaws.com/glr-demo/2020/04/13/icons-white-1586816732.svg);
}
span [class*="btn-"] {
    display: inline-block;
    width: 43px;
    height: 43px;
    margin-left: 10px;
}

@media (max-width: 500px) {
    .header-main-container {
        padding: 1px 10px;
    }

}


/*Main*/

main {
    width: 100%;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
}

.portada {
    position: relative;
    width: 100%;
}
.titulo-container {
    width: 890px;
    position: absolute;
    top: 50%;
    margin-top: -55px;
    margin-left: 50px;
}
.titulo-container h1, .titulo-container h2 {
    font-family: 'Crimson Pro', serif;
}
.titulo-container h1 {
    font-size: 81px;
    margin: 0;
    color: #c51e35;
    text-shadow: 5px 4px 3px black;
}
.titulo-container h2 {
    color: #fff;
    font-size: 43px;
    text-shadow: 5px 4px 3px black;
}

.intro p {
    width: 70%;
    margin: 30px auto;
    font-size: 18px;
    text-align: justify;
    line-height: 1.5;
}

.creditos-p {
    width: 840px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 60px;
    justify-content: space-around;
    margin-top: 30px;
    font-weight: 500;
}
.creditos-p span:nth-of-type(1) {
    font-weight: bold;
}
.creditos-p span:nth-of-type(2) i {
    border-bottom: solid 2px #c51e35;
}

.full-container {
    background-color: #ffffff9c;
    padding: 50px 0 10px;
}
.t-desk {
    display: block;
}
.t-cel {
    display: none !important;
}
.titulares {
    display: flex;
    justify-content: space-evenly;
    border-top: solid 3px #c51e35;
    border-bottom: solid 3px #c51e35;
}
.titular {
    /* width: 290px; */
    /* border-radius: 10px; */
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}
.titular img {
    width: 35px;
    margin-right: 10px;
}
.titular-1 {
    color: #c51e35;
}
.titular:hover {
    color: #c51e35 !important;
} 
.titular h2 {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}
.titular-container-1, .titular-container-2, .titular-container-3 {
    width: 100%;
    margin-top: 50px;
    position: relative;
}
/* .titular-container-1{background: red;} */
.titular-container-2{display: none;}
.titular-container-3{display: none;}

.titular-container h2 {
    text-align: center;
    font-size: 25px;
    width: 70%;
    margin: 0 auto;
}
.titular-container h3 {
    margin: 0 auto;
    width: 70%;
}
.titular-container p {
    width: 70%;
    margin: 20px auto;
    text-align: justify;
    font-size: 18px;
}
.titular-container img {
    display: block;
    margin: 30px auto;
    width: 70%;
}
.titular-container .creditos {
    width: 70%;
    margin-top: -20px;
    text-align: left;
}
.foto-con-credito {
    width: 70%;
    margin: 0 auto;
}
.foto-con-credito img {
    width: 100%;
    margin-bottom: 10px;
}
.foto-con-credito span {
    float: right;
}
.grafico {
    width: 70%;
    margin: 0 auto;
}
.grafico p {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
}
.change-page {
    width: 70px !important;
    position: absolute;
    bottom: 15px;
    right: 0;
    margin: 0 !important;
    margin-right: 40px !important;
}
.left-ar {
    transform: rotateY(180deg);
    left: 0;
    margin-left: 40px !important;
}


/*EXPERTOS*/

.expertos {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 50px;
}
.expertos h2 {
    text-align: left;
    margin-bottom: 10px;
    font-size: 30px;
}
.experto {
    border-right: solid 2px gray;
    padding-right: 45px;
}
.experto:nth-of-type(2) {
    margin-top: 30px;
}
/* .experto:nth-of-type(2) .experto-header .experto-texto {
    width: 70%;
} */
.experto-header {
    display: flex;
}
.experto-foto {
    width: 90px;
    height: 90px;
    background: #c51e35;
    border-radius: 50px;
    margin-right: 20px;
}
.experto-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90px;
}
.experto-texto p {
    font-size: 18px;
    margin: 0;
}
.experto-text p {
    font-size: 17px;
    text-align: justify;
}
.experto-foto img {
    width: 100%;
    border-radius: 50px;
}

/*footer*/

footer {
    padding: 35px 5px;
    margin-top: 30px;
    border-top: solid #c51e35;
    background-color: #272626;
}
footer p, footer h1, footer h3 {
    margin: 0;
    color: white;
}
.creditos {
    width: 750px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    height: auto;
}
.creditos i {
    border-bottom: solid 2px #c51e35;
}
.creditos h2 {
    color: #fff;
    font-size: 35px;
    margin: 0;
}
.credito p, .credito h3 {
    display: inline;
    font-size: 17px;
}
.credito-first {
    text-align: justify;
    padding: 15px 0;
}
footer h3, div.credito {
    margin: 5px;
}
div.credito {
    text-align: center;
}
div.flourish-credit {
    display: none !important;
}


@media (max-width: 810px) {
    .titulo-container {
        width: 600px;
    }
    .titulo-container h1{
        font-size: 55px;
    }
    .titulo-container h2 {
        font-size: 32px;
    }
    .foto-con-credito, .intro p, .creditos-p, .grafico, .titular-container h2, .titular-container img, .titular-container .creditos, .titular-container p, .titular-container h3 {
        width: 80%;
    }
    .change-page {
        width: 50px !important;
        bottom: -20px;
        margin-right: 12px !important;
    }
    .left-ar {
        margin-left: 12px !important;
    }
    .expertos {
        width: 90%;
        margin-top: 50px;
    }
    .experto {
        padding-right: 15px;
    }
    .experto-foto {
        width: 80px;
        height: 80px;
        margin-right: 11px;
    }
    .foto-con-credito img {
        width: 100%;
        margin-bottom: 10px;
    }
    .creditos {
        width: 500px;
    }
  }

  @media (max-width: 480px) {
    .titulo-container {
        width: 350px;
        margin-left: 20px;
        margin-top: -30px;
    }
    .titulo-container h1 {
        font-size: 33px;
        text-shadow: 5px 4px 3px black;
    }
    .titulo-container h2 {
        font-size: 18px;
        text-shadow: 5px 4px 3px black;
    }
    .foto-con-credito, .intro p, .creditos-p, .grafico, .titular-container h2, .titular-container img, .titular-container .creditos, .titular-container p, .titular-container h3 {
        width: 90%;
    }
    .creditos-p {
        margin-top: 20px;
        font-size: 15px;
    }
    .intro p {
        margin: 15px auto;
        font-size: 17px;
    }
    .full-container {
        padding: 10px 0 10px;
    }
    .titulares {
        justify-content: flex-start;
        margin-bottom: 10px;
    }
    .titular {
        padding: 3px 10px;
    }
    .titular img {
        width: 25px;
    }
    .titular h2 {
        font-size: 18px;
    }
    .titular-container-1, .titular-container-2, .titular-container-3 {
        margin-top: 20px;
    }
    .titular-container h2 {
        font-size: 23px;
    }
    .change-page {
        display: none !important;
    }
    .expertos {
        flex-direction: column;
    }
    .experto:nth-of-type(3) {
        border-right: solid 2px gray;
    }
    .creditos {
        width: 90%;
    }
    .t-desk {
        display: none;
    }
    .t-cel {
        display: block !important;
    }
    .foto-con-credito img {
        width: 100%;
        margin-bottom: 10px;
    }
  }
  